.content-container{
    display: flex;
    flex-direction: row;
    max-height: 100%;
    overflow: hidden;
}
.sidebar{
    min-height: 100%;
    min-width: 20%;
    max-width: 20%;
    max-height: 100%;
    overflow: hidden;
    z-index: 50;
}
.sidebar .active{
    font-size: 120%;
}
.sidebar > .collection{
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.sidebar .collection-item{
    transition: background-color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.sidebar .collection-item:not(.active):hover{
    background-color: #DEDEDEDE;
}
.sidebar  a{
    color: black;
    display: block;
}
.sidebar .brand{
    min-height: 7.5vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.collection-item{
    display: flex;
    align-items: center;
    justify-content: left;
}
.sidebar span{
    margin-right: 4%;
}
.content{
    min-height: 100vh;
    min-width: 80%;
    z-index: 10;
    overflow: hidden;
}
.content > * {
    width: 100%;
    height: 100%;
    transition: opacity .1s linear;
}

.readout-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#big-flex-number{
    font-size: 124px ;
}
#big-flex-sub{
    font-size: 62px;
}
.hidden{
    opacity: 0;
}
.workouts-container{
    padding-left: 1em;
    padding-right: 1em;

}
.workouts-card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
span{
    white-space: pre;
}
